accelerate==0.34.2
einops==0.8.0
h5py==3.12.1
joblib==1.4.2
matplotlib==3.9.2
maturin==1.7.4
networkx==3.2.1
numpy==1.26.3
openai==1.51.2
pandas==2.2.3
peft==0.13.0
pillow==10.2.0
PyWavelets==1.7.0
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
tqdm==4.66.5
wandb==0.18.3
wfdb==4.1.2
seaborn==0.13.2
nltk==3.9.1
rouge==1.0.1
sentencepiece==0.2.0
sacremoses==0.1.1
captum==0.7.0
evaluate==0.4.3